@import "tailwindcss";

@theme {
  --font-sans: "Nunito Sans", sans-serif;
  --color-primary: #0B7CFF;
  --color-blue-light:#4880FF;
  --color-blue: #3E97FF;
  --color-graytext:#6B7177;
  --color-lightgray:#4B5675;
  --color-darkgray: #252f4a;
  --color-blue-text:#3e97ff;

  --text-13: 13px;
  --text-11: 11px;
  --text-21: 21px;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: #252f4a;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}

.parent-swiper .mySwiper .swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 1;
}
.parent-swiper .mySwiper .swiper-pagination-bullet-active {
  background-color: #2563eb;
  width: 16px;
  height: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.parent-swiper .mySwiper .swiper-pagination {
  position: relative !important;
  margin-top: 20px;
  text-align: center;
}
.parent-swiper .mySwiper {
  padding-bottom: 40px;
}
.parent-swiper .mySwiper .swiper-pagination {
  bottom: 10px !important;
}

.carousel-parent .swiper-button-prev,
.swiper-button-next {
  color: white !important;
  font-size: 12px !important;
}
.carousel-parent .swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px !important;
}
.carousel-parent .swiper-pagination-bullet {
  width: 26px;
  border-radius: 5px;
  height: 3px;
  background-color: white;
}

@media (max-width: 1199px) {
  .rdrDateRangePickerWrapper {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .rdrDateDisplay,
  .rdrMonths {
    flex-direction: column;
    gap: 10px;
  }
  .rdrDateDisplayItem {
    width: 100% !important;
  }
  .rdrDateDisplayItem + .rdrDateDisplayItem {
    margin-left: 0 !important;
  }
}
@media (max-width: 575px) {
  .rdrCalendarWrapper {
    font-size: 10px;
  }
  .rdrMonth {
    width: 240px !important;
  }
  .rdrMonthAndYearPickers select {
    padding: 7px 20px 7px 10px !important;
  }
  .rdrNextPrevButton {
    margin: 0 6px !important;
  }
}

.swal2-container {
  z-index: 99999;
}

/* ---slide slider -- */
.slick-dots {
  bottom: -42px !important;
}
.slick-dots li button:before {
  background-color: #3e97ff !important;
  border-radius: 20px !important;
  content: "" !important;
  width: 6px !important;
  height: 6px !important;
}
.slick-dots li.slick-active button:before {
  width: 15px !important;
}
@media(max-width:575px){
  .slick-dots li{
    margin: 0 !important;
  }
}
