@import "tailwindcss";

@theme {
  --font-sans: "Nunito Sans", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: #202224;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}

.parent-swiper .mySwiper .swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 1;
}
.parent-swiper .mySwiper .swiper-pagination-bullet-active {
  background-color: #2563eb;
  width: 16px;
  height: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.parent-swiper .mySwiper .swiper-pagination {
  position: relative !important;
  margin-top: 20px;
  text-align: center;
}
.parent-swiper .mySwiper {
  padding-bottom: 40px;
}
.parent-swiper .mySwiper .swiper-pagination {
  bottom: 10px !important;
}

.carousel-parent .swiper-button-prev,
.swiper-button-next {
  color: white !important;
  font-size: 12px !important;
}
.carousel-parent .swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px !important;
}
.carousel-parent .swiper-pagination-bullet {
  width: 26px;
  border-radius: 5px;
  height: 3px;
  background-color: white;
}
