@import "tailwindcss";

@theme {
  --font-sans: 'Nunito Sans', sans-serif;
}

@layer base {
  body {
  font-family: var(--font-sans); 
  color: #202224;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}
